<!--
	此配置文件会跟随代码打包，不要轻易修改配置，除非是生产打包需要
	开发、测试时需要修改日志输出的话，请修改test包下的配置文件
-->

<configuration scan="true" scanPeriod=" 5 seconds">
	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="WORKER-ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>taskid</Key>
			<DefaultValue>worker</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${taskid}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>../logs/${taskid}/${taskid}.log</File>
				<rollingPolicy
						class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>../logs/${taskid}/%d{yyyy-MM-dd}/${taskid}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<!-- or whenever the file size reaches 100MB -->
						<maxFileSize>512MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>60</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
					</pattern>
					<charset>UTF-8</charset>
				</encoder>
			</appender>
		</sift>
	</appender>

	<logger name="com.ucar.datalink" additivity="false">
		<level value="INFO" />
		<appender-ref ref="WORKER-ROOT"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="WORKER-ROOT" />
	</root>
</configuration>